@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFEB3B;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-comic {
  font-family: 'Bangers', cursive;
}
