@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@400;700&display=swap');

:root {
  --spidey-red: #e62429;
  --spidey-blue: #001f5b;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  /* Centering at the root level */
  display: flex;
  justify-content: center;
  text-align: center;
}

.font-comic {
  font-family: 'Bangers', system-ui;
}

.comic-border {
  border: 4px solid #000000;
  box-shadow: 6px 6px 0px #000000;
}
