@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  background-color: #FFEB3B; /* Spidey Yellow */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-family: 'Bangers', cursive;
}

.font-comic { font-family: 'Bangers', cursive; }

input::placeholder { color: #ccc; }
