@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes glitch {
  0% { text-shadow: 2px 0 #ff00c1, -2px 0 #00fff9; opacity: 1; }
  25% { text-shadow: -2px 0 #ff00c1, 2px 0 #00fff9; opacity: 0.8; }
  50% { text-shadow: 2px -1px #ff00c1, -2px 1px #00fff9; opacity: 1; }
  75% { text-shadow: -1px 0 #ff00c1, 1px 0 #00fff9; opacity: 0.9; }
  100% { text-shadow: 2px 0 #ff00c1, -2px 0 #00fff9; opacity: 1; }
}

.animate-glitch {
  animation: glitch 0.2s infinite;
}
